<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>{{ title if title is defined else "Einheit" }}</title>
	<rect x="10" y="64" width="236" height="128" fill="{{ background if background is defined else "#FFFFFF" }}" stroke="{{ stroke if stroke is defined else "#000000"}}" stroke-width="10" />
</svg>